%main.container.general-main-wrap
  .text-center
    %h3.general-login-title Sign Up
    = link_to user_facebook_omniauth_authorize_path, class: 'general-login-icon', target:'_blank' do
      %i.fa.fa-facebook-official
    %p.general-login-text or

  = render 'devise/shared/registration_form'

  %p.general-sign-text.text-center
    Have an Account?
    - if controller_name != 'sessions'
      = link_to "Log in", new_session_path(resource_name), class: 'in-gold-500'
