.product-gallery
  .mb-20
    %img.img-responsive{src: @book.cover_url}
  .images.clearfix
    .img-link
      %img{src: book_gallery_image(0)}
    .img-link
      %img{src: book_gallery_image(1)}
    .img-link
      %img{src: book_gallery_image(2)}